
  @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Lato:ital,wght@1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #333;
    color: #222;
    overflow-x: hidden;
    margin: 0;
}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}
.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.circle button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
}

.circle button#open {
    left: 60%;
}

.content {
    max-width: 1000px;
    margin: 50px auto;
}

.content h1 {
    margin: 0;
}

.content small {
    color: #555;
    font-style: italic;
}

.content p {
    color: #333;
    line-height: 1.5;
}

.content img {
    max-width: 100%;
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}
.container.show-nav {
    transform: rotate(-20deg);
}

nav ul {
    list-style-type: none;
    padding-left: 30px;
}

nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

.container.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-home::before {
    content: "\f015";
}

nav a {

    color: #fafafa;
    text-decoration: none;
    transition: all 0.5s;
}

.circle button:focus {
    outline: none;
}

.fa-bars::before {
    content: "\f0c9";
}

.fa, .fas {
    font-weight: 900;
}

.fa-times::before {
    content: "\f00d";
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
} 

.container.show-nav .circle {
    transform: rotate(-70deg);
}

nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
}

nav ul li + li {
    margin-left: 15px;
    transform: translateX(-150%);
}

nav a:hover{

    color:#FF6E59;

}

i {
    margin: 0px 8px 0px 0px;
}